/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    padding: 25px;
    line-height: 1.5;
}

/* HEADER */
.header {
    margin-bottom: 25px;
}

.header h1 {
    font-size: 28px;
}

.header p {
    color: #555;
    font-size: 14px;
}

/* CONTAINER CHIA 2 CỘT */
.container {
    display: flex;
    gap: 40px;
}

/* CỘT TRÁI */
.left-column {
    width: 30%;
}

/* CỘT PHẢI */
.right-column {
    width: 70%;
}

/* SECTION */
.section {
    margin-bottom: 20px;
}

/* TIÊU ĐỀ PHỤ */
.section h4 {
    margin: 15px 0 5px;
}

/* ẢNH GIẢ NHỎ */
.image-box {
    background-color: #9e9e9e;
    color: #fff;
    height: 65px;
    margin: 12px 0;
    padding: 6px 10px;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
}

/* ẢNH CHÍNH BÊN PHẢI */
.main-image {
    background-color: #9e9e9e;
    height: 210px;
    margin-bottom: 15px;
    padding: 6px 10px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    overflow: hidden;

}    
